.testimonial-section{
    margin-top: 70px;
    height:60vh ;
}

.content-slider-main{
    margin-top: 50px;
}

.content-slider{
    padding: 10px;
    color: white;
    background-color: rgb(228, 112, 17);
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
    height: 250px ;
    margin: 5px;
    border-radius: 10px;
    
}

#dark .content-slider{
    background-color:#38004C ;
    color: white;
    box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);

}

#dark .content-slider:hover{
    background-color: black;
}


.content-slider:hover{
   background-color: rgb(24, 10, 218);
   transition-duration: 1s;
  

}

.content-slider img.center-image{
    height: 80px;
    width:80px;
    border-radius: 90px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    margin-top: -30px;
    justify-content: center;
    border: 5px solid rgb(226, 189, 25);

}

.slick-prev:before{
    color: #FF1042!Important;
    font-size: 30px;

}
.slick-next:before{
    color: #FF1042!Important;
    font-size: 30px;
}

.slick-disable{
    pointer-events: none;
    cursor: none;

}